:root {
  --primary: #577590;
  --secondary: #43aa8b;
  --pistacho: #90be6d;
  --complementary: #907257;
  --shade_20: #465e73;
  --shade_40: #344656;
  --tint_20: #7991a6;
  --tint_40: #9aacbc;
  --txt_white: whitesmoke;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", cursive;
  /*   letter-spacing: 0.2rem;
 */
}

#botonera {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.noHover {
  pointer-events: none;
}

#botonera a:hover {
  background-color: var(--pistacho);
  border-radius: 3px;
}
.hover_agranda:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: 0.7s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.7s box-shadow,
    0.7s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card-image-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#txt_dev {
  font-size: smaller;
}
